footer{
    background-color: #3b8cc0;
}

footer img{
    display: none;
}

#resizer{
    width: 3px;
    background-color: lightgray;
}

.readme li p{
    padding: 0px;
}

/*
* CUSTOM SCROLLBAR.
*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

