#as-image-page-container{
    width: 100%;
    height: 100%;
}

#as-image-page-container .mdc-drawer__content{
    overflow: auto;    
    height: calc(100% - 60px);
}

#as-image-page-container #as-image-page-container{
    width: 100%;
    height: 100%;
}

#as-image-page-container .as-page-content-container{
    background-color: rgb(30, 30, 30);
}

#as-image-page-container .as-flight-image-container{
    transform: scale(1);
    transform-origin: 50% 50%;
    width: 100%;
    height: 100%;
}

#as-image-page-container .as-flight-image-sub-container{
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#as-image-page-container .as-flight-image{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

#as-image-page-container .as-flight-image-input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

#as-image-page-container .as-flight-marker-container{
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
}

#as-image-page-container .as-flight-image-container .as-flight-marker{
    position: absolute;
    width: 20px;
    height: 25px;
    transform: translate(-10px, -25px);
}

#as-image-page-container .as-image-menu-item {
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 200px;
}
#as-image-page-container .as-image-menu-item.selected {
    background-color: rgb(78, 161, 213)
}

#as-image-page-container .as-image-menu-item-image {
    border: 1px solid lightgrey;
    height: 188px;
    width: 250px;
    position: relative;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    background-color: lightgray;
}

#as-image-page-container .as-image-menu-item-error {
    border: 1px solid lightgrey;
    height: 188px;
    width: 250px;
    position: relative;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    text-align: center;
    line-height: 188px;
}

#as-image-page-container .as-icon-menu-item-marker {
    height: 30px;
    position: absolute;
    top: 10%;
    left: 5px;
    transform: translateY(-50%);
}
#as-image-page-container .as-icon-menu-item-selected{
    position: absolute;
    top: 10%;
    left: 25px;
    transform: translateY(-50%);
    color: #76FF03;
}

#as-image-page-container .as-right-drawer-images{
    background-color: rgb(30, 30, 30);
}

#as-image-page-container .as-image-viewer{
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#as-image-page-container .as-image-type-actions-container{
    position: absolute;
    text-align: right;
    bottom: 0px;
    right: 0px;
    width: 100%
}
#as-image-page-container .as-image-type-actions-container img{   
    cursor: pointer;
    background-color: darkgrey;
    display: inline-block;
    padding: 2px;
    margin: 10px;
    width: 150px;
    height: 100px;
}

@media (max-width: 599px) {
    .as-fab-container {
        display: block;
    }
    .as-image-type-actions-container {
        display: none;
    }    
}
@media (min-width: 600px) {
    #as-image-page-container .as-fab-container {
        display: none;
    }
    #as-image-page-container .as-image-type-actions-container {
        display: block;
    }    
}
