
<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <div class="material-icons mdc-toolbar__menu-icon as-page-actions-menu-button">menu</div>
            <div class="material-icons mdc-toolbar__icon as-image-page-actions-back-button">arrow_back</div>
            <span class="mdc-toolbar__title catalog-title">${__('PAGE_TITLE_IMAGE')}</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
            <a class="material-icons mdc-toolbar__icon as-image-page-actions-restore-button" title="${__('IMAGE_PAGE_RESTORE_TTIP')}">settings_backup_restore</a>
            <a class="material-icons mdc-toolbar__icon as-image-page-actions-fullscreen-button" title="${__('IMAGE_PAGE_FULLSCREEN_TTIP')}">fullscreen</a>
            <a class="material-icons mdc-toolbar__icon as-image-page-actions-download-button" title="${__('IMAGE_PAGE_DOWNLOAD_TTIP')}">file_download</a>
            <a class="material-icons mdc-toolbar__icon as-flight-page-actions-eye-button" title="${__('IMAGE_PAGE_EYE_TTIP')}">remove_red_eye</a>
            <a class="material-icons mdc-toolbar__icon as-image-page-actions-info-button" title="${__('IMAGE_PAGE_INFO_TTIP')}">info</a>
            <a class="material-icons mdc-toolbar__icon as-image-page-actions-camera-button" title="${__('IMAGE_PAGE_CAMERA_TTIP')}">photo</a>

            <div class="mdc-menu-anchor">
                <div class="mdc-menu as-image-page-menu-views" tabindex="-1">
                    <ul class="mdc-menu__items mdc-list" role="menu" style="transform: scale(1, 1);">
                        <li class="mdc-list-item as-image-page-actions-view-markers-button" role="menuitem" tabindex="0">${__('IMAGE_VIEW_MARKERS')}</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="as-page-content-container mdc-toolbar-fixed-adjust">
    <div class="as-page-center-container">
        <div class="as-image-viewer">
            <div class="as-flight-image-container" hidden="true">
                <div class="as-flight-image-sub-container">
                    <img class="as-flight-image"></img>
                    <div class="as-flight-marker-container"></div>
                </div> 
            </div> 
            <div class="as-flight-image-input">
            </div>                 
        </div>  

        <div class="as-image-type-actions-container">
            <img class="as-image-type-color-button" title="${__('IMAGE_TYPE_COLOR')}"/>
            <img class="as-image-type-thermal1-button" title="${__('IMAGE_TYPE_THERMAL_1')}"/>
            <img class="as-image-type-thermal2-button" title="${__('IMAGE_TYPE_THERMAL_2')}"/>
        </div>  

        <div class="as-fab-container">
            <button class="mdc-fab material-icons mdc-ripple-upgraded as-image-page-actions-palette-button">
                <span class="mdc-fab__icon">color_lens</span>
            </button>

            <div class="mdc-menu-anchor">
                <div class="mdc-menu as-image-page-menu-palette" tabindex="-1">
                    <ul class="mdc-menu__items mdc-list" role="menu" style="transform: scale(1, 1);">
                        <li class="mdc-list-item as-image-type-color-palette-button" role="menuitem" tabindex="0">${__('IMAGE_TYPE_COLOR')}</li>
                        <li class="mdc-list-item as-image-type-thermal1-palette-button" role="menuitem" tabindex="0">${__('IMAGE_TYPE_THERMAL_1')}</li>
                        <li class="mdc-list-item as-image-type-thermal2-palette-button" role="menuitem" tabindex="0">${__('IMAGE_TYPE_THERMAL_2')}</li>
                    </ul>
                </div>
            </div>
        </div> 
    </div> 

    <div class="as-right-drawer as-right-drawer-info">
    </div> 

    <div class="as-right-drawer as-right-drawer-images">        
    </div>    
</div>