#as-command-page-container .as-command-container{
    background-color: rgb(30, 30, 30);
}
#as-command-page-container .as-command-container-inner{
    width: calc(100% - 10px);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: white;
    overflow: auto;
    font-family: "Courier New", Courier, monospace;
}
#as-command-page-container .as-command-container input{
    color: white;
}

#as-command-page-container .as-command-viewer-line{
    padding: 2px;
}
#as-command-page-container .as-command-viewer-line.error{
    color: red;
}
#as-command-page-container .as-command-viewer-line.command{
    color: rgb(143, 243, 85);
}

#as-command-page-container .as-command-prompt-container{
    position: relative;
}
#as-command-page-container .as-command-prompt-container.waiting{
    opacity: 0;
}

#as-command-page-container .as-command-prompt-icon{
    padding: 0px;
    width: 30px;
    display: inline-block;
    position: absolute;
    color: rgb(8, 247, 8);
}

#as-command-page-container .as-command-prompt-input-container{
    width: calc(100% - 34px);
    padding: 0px;
    margin: 0px;
    display: inline-block;
    padding-left: 34px;
    padding-top: 5px;
}  

#as-command-page-container .as-command-prompt-input{
    padding: 0px;
    border-bottom-color: rgb(78, 161, 213);
}  

