<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <div class="material-icons mdc-toolbar__menu-icon as-page-actions-menu-button">menu</div>
            <span class="mdc-toolbar__title catalog-title">${__('PAGE_TITLE_COMMANDS')}</span>
        </section>
    </div>
</div>

<div class="as-page-content-container mdc-toolbar-fixed-adjust">
    <div class="as-command-container">
        <div class="as-command-container-inner">
            <div class="as-command-viewer-container">
            </div> 
            <div class="as-command-prompt-container">
                <span class="material-icons mdc-toolbar__icon as-command-prompt-icon">arrow_forward</span> 
                <div class="mdc-text-field as-command-prompt-input-container">                                
                    <input class="mdc-text-field__input as-command-prompt-input" type="text">
                </div> 
            </div> 
        </div>
    </div>
</div>