<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <div class="material-icons mdc-toolbar__menu-icon as-page-actions-menu-button">menu</div>
            <span class="mdc-toolbar__title catalog-title">${__('PAGE_TITLE_CAMERAS')}</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
            <span class="as-cameras-boson-actions-toolbar">
                <a class="material-icons mdc-toolbar__icon as-cameras-page-actions-settings-button" title="${__('CAMERAS_PAGE_VIEWS_TTIP')}">settings</a>
            </span>
            <span class="as-cameras-qx30-actions-toolbar">
            </span>
            <a class="material-icons mdc-toolbar__icon as-cameras-page-actions-cameras-button" title="${__('CAMERAS_PAGE_CAMERA_TTIP')}">photo_camera</a>
        </section>
    </div>
</div>

<div class="as-page-content-container mdc-toolbar-fixed-adjust">
    <div class="as-page-center-container">
        <div class="as-cameras-boson-container" hidden="true">
            <div class="as-thermal-image-container">
                <img class="as-thermal-image"></img>
            </div>

            <div class="as-fab-container">
                <button class="mdc-fab material-icons mdc-ripple-upgraded as-cameras-page-actions-start-thermal-button" hidden="true">
                    <span class="mdc-fab__icon">videocam</span>
                </button>
                <button class="mdc-fab material-icons mdc-ripple-upgraded as-cameras-page-actions-stop-thermal-button" hidden="true">
                    <span class="mdc-fab__icon">videocam_off</span>
                </button>
            </div> 
        </div> 
        <div class="as-cameras-qx30-container" hidden="true">
        </div> 
    </div>

    <div class="as-right-drawer as-right-drawer-cameras">
        <nav class="mdc-drawer__drawer">
            <nav class="mdc-list-group">
                <div class="as-camera-drawer-container">
                    <div class="as-camera-drawer-item as-cameras-qx30-button">
                        <div class="as-camera-drawer-inner-container mdc-elevation--z5">
                            <div class="as-camera-drawer-image as-camera-image-boson"></div>
                            <div class="as-camera-drawer-text">SONY QX30U</div>
                        </div>
                    </div>
                    <div class="as-camera-drawer-item as-cameras-boson-button">
                        <div class="as-camera-drawer-inner-container mdc-elevation--z5">
                            <div class="as-camera-drawer-image as-camera-image-qx30"></div>
                            <div class="as-camera-drawer-text">FLIR Boson</div>
                        </div>
                    </div>
                </div>
            </nav>
        </nav>
    </div>
    <div class="as-right-drawer as-right-drawer-settings">
        <nav class="mdc-drawer__drawer">
            <ul class="mdc-menu__items mdc-list" role="menu" style="transform: scale(1, 1);">
                <li class="mdc-list-item as-cameras-thermal1-button" role="menuitem" tabindex="1">${__('IMAGE_TYPE_THERMAL_1')}</li>
                <li class="mdc-list-item as-cameras-thermal2-button" role="menuitem" tabindex="2">${__('IMAGE_TYPE_THERMAL_2')}</li>
                <li class="mdc-list-divider" role="separator"></li>
                <li class="mdc-list-item as-cameras-q1-button" role="menuitem" tabindex="2">${__('CAMERAS_QUALITY_LOW')}</li>
                <li class="mdc-list-item as-cameras-q2-button" role="menuitem" tabindex="2">${__('CAMERAS_QUALITY_MEDIUM')}</li>
                <li class="mdc-list-item as-cameras-q3-button" role="menuitem" tabindex="2">${__('CAMERAS_QUALITY_HIGH')}</li>
            </ul>
        </nav>
    </div>
</div>