#as-cameras-page-container .as-page-content-container{
    background-color: rgb(30, 30, 30);
}

#as-cameras-page-container .as-thermal-image-container{
    height: 100%;
    width: 100%;
}

#as-cameras-page-container .as-thermal-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
}

#as-cameras-page-container .as-camera-drawer-container{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}

#as-cameras-page-container .as-camera-drawer-item{
    cursor: pointer;
    display: block;
    padding: 10px;
}

#as-cameras-page-container .as-camera-drawer-item.selected{
    background-color: rgb(78, 161, 213)
}

#as-cameras-page-container .as-camera-drawer-inner-container{
    background-color: white;
    text-align: center;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

#as-cameras-page-container .as-camera-drawer-image{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


#as-cameras-page-container .as-camera-drawer-text{
    padding: 5px;
    border-top: solid 1px lightgray;
}

#as-cameras-page-container .as-camera-image-boson{
    background-image: url("../../../assets/imgs/qx30.jpg");
}
#as-cameras-page-container .as-camera-image-qx30{
    background-image: url("../../../assets/imgs/boson.jpg");
}
