<div id="as-app" hidden="true">
    <!--
        Modal dialog
    -->
    <aside
        id="as-dialog"
        class="mdc-dialog"
        role="alertdialog">
        <div class="mdc-dialog__surface">
            <header class="mdc-dialog__header">
                <h2 class="mdc-dialog__header__title">
                </h2>
            </header>
            <section class="mdc-dialog__body">
            </section>
            <footer class="mdc-dialog__footer">
            </footer>
        </div>
        <div class="mdc-dialog__backdrop"></div>
    </aside>

    <!--
        Snackbar
    -->
    <div id="as-snackbar"
        class="mdc-snackbar">
        <div class="mdc-snackbar__text"></div>
        <div class="mdc-snackbar__action-wrapper">
            <button type="button" class="mdc-snackbar__action-button"></button>
        </div>
    </div>

    <!--
    Spinner
    -->
    <div id="as-loading-spinner-container" hidden="true">
        <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
            <div class="mdc-linear-progress__buffering-dots"></div>
            <div class="mdc-linear-progress__buffer"></div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div>
        </div>
        <div class="as-loading-spinner-message"></div>
    </div>
</div>