#as-drone-page-container{
    width: 100%;
    height: 100%;
    background-color: rgb(30, 30, 30);
}

#as-drone-page-container .as-drone-map-container{
    width: 100%;
    height: 100%;
}

#as-drone-page-container .as-drone-map-container canvas{
    width: 100%;
    height: 100%;
}

#as-drone-page-container .as-image-menu-item{
    min-height: 150px;
    min-width: 150px;
    margin: 5px;
    border: 1px solid lightgrey;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: lightgray;
    max-width: 270px;
}

#as-drone-page-container .as-drone-page-actions-clear-images-button{
    cursor: pointer;
}

#as-drone-page-container .as-drone-graph-container{
    width: 100%;
}
#as-drone-page-container .as-drone-graph-container .svg-container{
    margin: auto;
}

#as-drone-page-container .as-list-header{
    border-bottom: 1px solid lightgray;
}

