<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <div class="material-icons mdc-toolbar__menu-icon as-page-actions-menu-button">menu</div>
            <span class="mdc-toolbar__title catalog-title">${__('PAGE_TITLE_DRONE')}</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
            <a class="material-icons mdc-toolbar__icon as-drone-page-actions-map-button" title="${__('DRONE_PAGE_MAP_TTIP')}">terrain</a>
            <a class="material-icons mdc-toolbar__icon as-drone-page-actions-layers-button" title="${__('ACTION_IMPORT_KML')}">layers</a>
            <a class="material-icons mdc-toolbar__icon as-drone-page-actions-graph-button" title="${__('DRONE_PAGE_GRAPH_TTIP')}">timeline</a>
            <a class="material-icons mdc-toolbar__icon as-drone-page-actions-image-button" title="${__('DRONE_PAGE_IMAGE_TTIP')}">image</a>
            <a class="material-icons mdc-toolbar__icon as-drone-page-actions-info-button" title="${__('DRONE_PAGE_INFO_TTIP')}">info</a>
        </section>
    </div>
</div>

<div class="as-page-content-container mdc-toolbar-fixed-adjust">
    <div class="as-drone-map-container"></div>

    <div class="as-bottom-drawer">
        <div class="as-drone-graph-container">
        </div>
    </div>

    <div class="as-right-drawer as-right-drawer-info">
        <div class="mdc-list-group">
            <ul class="mdc-list mdc-list--non-interactive demo-list">
                <li class="mdc-list-item as-list-header"><b>${__('DRONE_INFO_TITLE')}</b></li>
            </ul>
            <ul class="mdc-list mdc-list--non-interactive">
                <li class="mdc-list-item">${__('DRONE_INFO_MODEL')}:<span class="mdc-list-item__meta as-drone-info-model"></span></li>
                <li class="mdc-list-item">${__('DRONE_INFO_ARMED')}:<span class="mdc-list-item__meta as-drone-info-armed"></span></li>
            </ul>

            <hr class="mdc-list-divider">
            <h3 class="mdc-list-group__subheader">${__('DRONE_INFO_MISSION')}</h3>
            <ul class="mdc-list mdc-list--non-interactive">
                <li class="mdc-list-item">
                    ${__('DRONE_INFO_MISSION_POSITION')}
                    <span class="mdc-list-item__meta as-drone-info-position"></span>
                </li>
            </ul>

            <hr class="mdc-list-divider">            
            <h3 class="mdc-list-group__subheader">${__('DRONE_INFO_GPS_POS')}</h3>
            <ul class="mdc-list mdc-list--non-interactive">
                <li class="mdc-list-item">${__('LATITUDE')}:<span class="mdc-list-item__meta as-drone-info-latitude"></span></li>
                <li class="mdc-list-item">${__('LONGITUDE')}:<span class="mdc-list-item__meta as-drone-info-longitude"></span></li>
                <li class="mdc-list-item">${__('ALTITUDE')}:<span class="mdc-list-item__meta as-drone-info-altitude"></span></li>
            </ul>

            <hr class="mdc-list-divider">
            <h3 class="mdc-list-group__subheader">${__('DRONE_INFO_CAMERA')}</h3>
            <ul class="mdc-list mdc-list--non-interactive">
                <li class="mdc-list-item">${__('DRONE_INFO_CAMERA_STATE')}:<span class="mdc-list-item__meta as-drone-info-camera-state"></span></li>
                <li class="mdc-list-item">${__('DRONE_INFO_CAMERA_IMAGE_COUNT')}:<span class="mdc-list-item__meta as-drone-info-camera-image-count"></span></li>
            </ul>
        </div>
    </div>  
    <div class="as-right-drawer as-right-drawer-image">
        <div class="mdc-list-group">
            <ul class="mdc-list mdc-list--non-interactive">
                <li class="mdc-list-item as-list-header"><b>${__('DRONE_IMAGES')}</b>
                    <div class="mdc-list-item__meta material-icons as-drone-page-actions-clear-images-button" title="${__('DRONE_CLEAR_IMAGE_TTIP')}">
                        delete
                    </div>
                </li>
                <div class="as-drone-images-container">
                </div>
            </ul>
        </div>
    </div>  
</div>
    