#as-about-page-container .as-page-content-container{
    background-color: lightgray;
}

#as-about-page-container .as-about-cards{
    height: calc(100% - 56px);
    position: relative;
    overflow-y: auto;
}

#as-about-page-container .mdc-card{
    max-width: 90%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

#as-about-page-container .card__primary{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1em;
}

#as-about-page-container .card__secondary{
    color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

#as-about-page-container .link-icon{
    width: 24px;
    height: 24px;
    margin: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#as-about-page-container .as-about-bottom{    
    height: 56px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: white;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 -4px 5px 0 rgba(0,0,0,.14), 0 -1px 10px 0 rgba(0,0,0,.12);
}
#as-about-page-container .as-about-bottom-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    min-height: 52px;    
    padding-top: 4px;
    width: 208px;
    margin-left: auto;
    margin-right: auto;
}

.mdc-card__action-icons {
    color: rgba(0,0,0,.38);
    color: var(--mdc-theme-text-icon-on-background,rgba(0,0,0,.38));
    flex-grow: 1;
    /* justify-content: flex-end; */
}
.mdc-card__action-buttons, .mdc-card__action-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;

    
}

#as-about-page-container .youtube-icon{
    background-image: url("../../../assets/imgs/icon_youtube.png");
}

#as-about-page-container .facebook-icon{
    background-image: url("../../../assets/imgs/icon_facebook.png");
}

#as-about-page-container .as-about-ansel-card .mdc-card__media--16-9{
    background-image: url("../../../assets/imgs/about-ansel.jpg");
    background-size: cover;
    height: 200px;
}
#as-about-page-container .as-about-qgc-card .mdc-card__media--16-9{
    background-image: url("../../../assets/imgs/about-qgc.png");
    background-size: auto;
    height: 200px;
}
#as-about-page-container .as-about-cloud-card .mdc-card__media--16-9{
    background-image: url("../../../assets/imgs/about-cloud.png");
    background-size: cover;
    height: 200px;
}