<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <div class="material-icons mdc-toolbar__menu-icon as-page-actions-menu-button">menu</div>
            <span class="mdc-toolbar__title catalog-title">${__('PAGE_TITLE_ABOUT')}</span>
        </section>
    </div>
</div>

<div class="as-page-content-container mdc-toolbar-fixed-adjust">
    <div class="as-about-cards">
        <div class="mdc-card as-about-ansel-card">
            <div class="mdc-card__primary-action mdc-ripple-upgraded">
                <div class="mdc-card__media mdc-card__media--16-9"></div>
                <div class="card__primary">
                    <h2 class="mdc-typography--title">Ansel</h2>
                    <h3 class="mdc-typography--subheading1 card__secondary">1.5.0</h3>
                    <div class="mdc-typography--body1 card__secondary">
                        ${__('ABOUT_PAGE_ANSEL_TEXT')}
                    </div>
                </div>
            </div>
        </div>

        <div class="mdc-card as-about-qgc-card">
            <div class="mdc-card__primary-action mdc-ripple-upgraded">
                <div class="mdc-card__media mdc-card__media--16-9"></div>
                <div class="card__primary">
                    <h2 class="mdc-typography--title">Aerobo Station</h2>
                    <h3 class="mdc-typography--subheading1 card__secondary">1.5.0</h3>
                    <div class="mdc-typography--body1 card__secondary">
                        ${__('ABOUT_PAGE_QGC_TEXT')}
                    </div>
                </div>
            </div>
        </div>

        <div class="mdc-card as-about-cloud-card">
            <div class="mdc-card__primary-action mdc-ripple-upgraded">
                <div class="mdc-card__media mdc-card__media--16-9"></div>
                <div class="card__primary">
                    <h2 class="mdc-typography--title">Aerobo Cloud</h2>
                    <div class="mdc-typography--body1 card__secondary">
                        ${__('ABOUT_PAGE_QGC_TEXT')}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="as-about-bottom">
        <div class="as-about-bottom-icons">
            <a target="_blank" href="https://aerobocloud.com/">
                <i class="material-icons mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" tabindex="0" role="button" title="AeroboCloud" >cloud</i>
            </a>
            <a target="_blank" href="http://www.aerosense.co.jp/">
                <i class="material-icons mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" tabindex="2" role="button" title="Aerosense">link</i>
            </a>
            <a target="_blank" href="https://www.youtube.com/channel/UCW1vHUKBzPhbrkLJaOkVyWQ">
                <div class="youtube-icon link-icon" title="Youtube"></div>
            </a>
            <a target="_blank" href="https://ja-jp.facebook.com/aerosense/">
                <div class="facebook-icon link-icon" title="Facebook"></div>
            </a>
        </div>
    </div>
</div>