
<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <div class="material-icons mdc-toolbar__menu-icon as-page-actions-menu-button">menu</div>
            <span class="mdc-toolbar__title catalog-title">${__('PAGE_TITLE_PX4_LOGS')}</span>
        </section>

        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
            <span class="as-px4-toolbar-log-actions-container" hidden="true">
                <a class="material-icons mdc-toolbar__icon as-px4-page-actions-download-log-button" title="${__('PX4_PAGE_DOWNLOAD_TTIP')}">file_download</a>
                <a class="material-icons mdc-toolbar__icon as-px4-page-actions-delete-log-button" title="${__('PX4_PAGE_DELETE_TTIP')}">delete</a>
            </span>
            <a class="material-icons mdc-toolbar__icon as-px4-page-actions-deploy-button" title="${__('PAGE_TITLE_COMMANDS')}">unarchive</a>
            <a class="material-icons mdc-toolbar__icon as-px4-page-actions-open-button" title="${__('PX4_PAGE_OPEN_TTIP')}">timeline</a>
        </section>
    </div>
</div>

<div class="as-page-content-container mdc-toolbar-fixed-adjust"> 
    <div class="as-empty-container" hidden="true">
        <div class="as-empty-text">${__('NO_LOG_MSG')}</div>
    </div>

    <div class="as-px4-graph-container" hidden="true">

        <div class="mdc-tab-bar-scroller">
            <div class="mdc-tab-bar-scroller">
                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back mdc-tab-bar-scroller__indicator--enabled">
                    <a class="mdc-tab-bar-scroller__indicator__inner material-icons">
                        navigate_before
                    </a>
                </div>
                <div class="mdc-tab-bar-scroller__scroll-frame">
                    <nav class="mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mdc-tab-bar-upgraded as-tab-bar-content" style="transform: translateX(-960px);">
                        <a class="mdc-tab mdc-ripple-upgraded mdc-tab--active as-px4-map-button" tabid="map">${__('PX4_MAP_TAB')}</a>
                        <a class="mdc-tab mdc-ripple-upgraded as-px4-flight-mode-button" tabid="flight-mode">${__('PX4_FLIGHT_MODE_TAB')}</a>
                        <a class="mdc-tab mdc-ripple-upgraded as-px4-gps-button" tabid="gps">${__('PX4_GPS_TAB')}</a>
                        <a class="mdc-tab mdc-ripple-upgraded as-px4-motors-button" tabid="motors">${__('PX4_MOTORS_TAB')}</a>
                        <a class="mdc-tab mdc-ripple-upgraded as-px4-attitude-button" tabid="attitude">${__('PX4_ATTITUDE_TAB')}</a>
                        <a class="mdc-tab mdc-ripple-upgraded as-px4-imu-mag-baro-button" tabid="imu-mag-baro">${__('PX4_IMU_MAG_BARO_TAB')}</a>
                        <a class="mdc-tab mdc-ripple-upgraded as-px4-battery-button" tabid="battery">${__('PX4_BATTERY_TAB')}</a>
                        <a class="mdc-tab mdc-ripple-upgraded as-px4-gp-setpoints-button" tabid="gp-setpoints">${__('PX4_GP_SETPOINTS_TAB')}</a>
                        <a class="mdc-tab mdc-ripple-upgraded as-px4-lp-setpoints-button" tabid="lp-setpoints">${__('PX4_LP_SETPOINTS_TAB')}</a>
                        <a class="mdc-tab mdc-ripple-upgraded as-px4-gv-setpoints-button" tabid="gv-setpoints">${__('PX4_GV_SETPOINTS_TAB')}</a>
                        <a class="mdc-tab mdc-ripple-upgraded as-px4-ekf-button" tabid="ekf">${__('PX4_EKF_TAB')}</a>
                        <a class="mdc-tab mdc-ripple-upgraded as-px4-log-timing-button" tabid="log-timing">${__('PX4_LOG_TIMING_TAB')}</a>
                        <a class="mdc-tab mdc-ripple-upgraded as-px4-parameters-button" tabid="parameters">${__('PX4_PARAMETERS_TAB')}</a>
                        <span class="mdc-tab-bar__indicator"></span>
                    </nav>
                </div>
                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                    <a class="mdc-tab-bar-scroller__indicator__inner material-icons">
                        navigate_next
                    </a>
                </div>
            </div>        
        </div>

        <section class="as-px4-tab-container">
            <div class="as-px4-map-tab" hidden="true"></div>
            <div class="as-px4-flight-mode-tab" hidden="true"></div>
            <div class="as-px4-gps-tab" hidden="true"></div>
            <div class="as-px4-motors-tab" hidden="true"></div>
            <div class="as-px4-attitude-tab" hidden="true"></div>
            <div class="as-px4-imu-mag-baro-tab" hidden="true"></div>
            <div class="as-px4-battery-tab" hidden="true"></div>
            <div class="as-px4-gp-setpoints-tab" hidden="true"></div>
            <div class="as-px4-lp-setpoints-tab" hidden="true"></div>
            <div class="as-px4-gv-setpoints-tab" hidden="true"></div>
            <div class="as-px4-ekf-tab" hidden="true"></div>
            <div class="as-px4-log-timing-tab" hidden="true"></div>
            <div class="as-px4-parameters-tab" hidden="true"></div>
        </section>
    </div>

    <div class="as-right-drawer">
        <nav class="mdc-drawer__drawer">
            <nav class="mdc-list-group">
                <h1 class="as-drawer-header">${__('PAGE_PX4_DRAWER_TITLE')}</h1>
                <div class="mdc-list-divider"></div>   
                <nav class="mdc-drawer__content mdc-list">
                </nav> 
            </nav>
        </nav>
    </div>
</div>

