
#as-px4-page-container{
    height: calc(100% - 60px);
}

#as-px4-page-container .as-px4-graph-container{
    height: 100%;
    width: 100%;
}
#as-px4-page-container .as-px4-tab-container{
    height: calc(100% - 48px);
    width: 100%;
    overflow: auto;
}

#as-px4-page-container .as-px4-tab-container .data-container table{
    margin-left: auto;
    margin-right: auto;
}
#as-px4-page-container .as-px4-tab-container .data-container thead th{
    border-bottom: 1px solid #d0d0d0;
}

#as-px4-page-container .as-px4-tab-container .data-container th{
    padding: 5px;
}

#as-px4-page-container .as-px4-tab-container .data-container td{
    padding: 5px;
}


#as-px4-page-container .graph-container{
    width: 100%;
}

#as-px4-page-container .table-container{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
}

#as-px4-page-container .map-container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
#as-px4-page-container .map-data-container{
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 100;
    display: block;
    background: white;
}
