<div class="as-ros-create-panel-container">
    <div class="mdc-tab-bar-scroller">
        <div class="mdc-tab-bar-scroller">
            <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back mdc-tab-bar-scroller__indicator--enabled">
                <a class="mdc-tab-bar-scroller__indicator__inner material-icons">
                    navigate_before
                </a>
            </div>
            <div class="mdc-tab-bar-scroller__scroll-frame">
                <nav class="mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mdc-tab-bar-upgraded as-tab-bar-content" style="transform: translateX(-960px);">
                    <a class="mdc-tab mdc-ripple-upgraded as-node-button">${__('ROS_NODE')}</a>
                    <a class="mdc-tab mdc-ripple-upgraded as-topic-button">${__('ROS_TOPIC')}</a>
                    <a class="mdc-tab mdc-ripple-upgraded as-service-button">${__('ROS_Service')}</a>
                    <span class="mdc-tab-bar__indicator"></span>
                </nav>
            </div>
            <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                <a class="mdc-tab-bar-scroller__indicator__inner material-icons">
                    navigate_next
                </a>
            </div>
        </div>

    </div>

    <div class="as-ros-create-panel-content">
        <div class="as-create-node-container" hidden="true">
            <div class="mdc-select" role="listbox">
                <select class="mdc-select__native-control">
                </select>
                <label class="mdc-floating-label">Select a node to create</label>
                <div class="mdc-line-ripple"></div>
            </div>


            <div class="mdc-text-field mdc-text-field--fullwidth as-node-create-package-input">
                <input class="mdc-text-field__input" type="text" placeholder="Package name">
            </div>

            <div class="mdc-text-field mdc-text-field--fullwidth as-node-create-type-input">
                <input class="mdc-text-field__input" type="text" placeholder="Type">
            </div>

            <div class="mdc-text-field mdc-text-field--fullwidth as-node-create-args-input">
                <input class="mdc-text-field__input" type="text" placeholder="Arguments">
            </div>
        </div>

        <div class="as-create-topic-container" hidden="true">
            <div class="mdc-select" role="listbox">
                <select class="mdc-select__native-control">
                </select>
                <label class="mdc-floating-label">Select a topic to create</label>
                <div class="mdc-line-ripple"></div>
            </div>


            <div class="mdc-text-field mdc-text-field--fullwidth as-topic-create-name-input">
                <input class="mdc-text-field__input" type="text" placeholder="Topic name">
            </div>

            <div class="mdc-text-field mdc-text-field--fullwidth as-topic-create-type-input">
                <input class="mdc-text-field__input" type="text" placeholder="Topic type">
            </div>

            <div class="mdc-text-field mdc-text-field--fullwidth as-topic-create-args-input">
                <input class="mdc-text-field__input" type="text" placeholder="Arguments">
            </div>   
        </div>

        <div class="as-create-service-container" hidden="true">
            SERVICE
        </div>

    </div>
</div>