#as-flight-page-container{
    width: 100%;
    height: 100%;
    background-color: rgb(30, 30, 30);
}

#as-flight-page-container .as-flight-map-container{
    width: 100%;
    height: 100%;
}

#as-flight-page-container .as-flight-map-container canvas{
    width: 100%;
    height: 100%;
}