<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <div class="material-icons mdc-toolbar__menu-icon as-page-actions-menu-button">menu</div>
            <span class="mdc-toolbar__title catalog-title">Ansel</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
            <a class="material-icons mdc-toolbar__icon as-flight-page-actions-map-button" title="${__('FLIGHT_PAGE_MAP_TTIP')}">terrain</a>
            <a class="material-icons mdc-toolbar__icon as-flight-page-actions-layers-button" title="${__('ACTION_IMPORT_KML')}">layers</a>
            <a class="material-icons mdc-toolbar__icon as-flight-page-actions-download-button" title="${__('FLIGHT_PAGE_DOWNLOAD_TTIP')}">file_download</a>
            <a class="material-icons mdc-toolbar__icon as-flight-page-actions-views-button" title="${__('FLIGHT_PAGE_VIEWS_TTIP')}">remove_red_eye</a>
            <a class="material-icons mdc-toolbar__icon as-flight-page-actions-more-button" title="${__('FLIGHT_PAGE_MORE_TTIP')}">more_vert</a>

            <div class="mdc-menu-anchor">
                <div class="mdc-menu as-flight-page-menu" tabindex="-1">
                    <ul class="mdc-menu__items mdc-list" role="menu" style="transform: scale(1, 1);">
                        <li class="mdc-list-item as-image-type-color-button" role="menuitem" tabindex="0">${__('IMAGE_TYPE_COLOR')}</li>
                        <li class="mdc-list-item as-image-type-thermal1-button" role="menuitem" tabindex="1">${__('IMAGE_TYPE_THERMAL_1')}</li>
                        <li class="mdc-list-item as-image-type-thermal2-button" role="menuitem" tabindex="2">${__('IMAGE_TYPE_THERMAL_2')}</li>
                        <li class="mdc-list-divider" role="separator"></li>
                        <li class="mdc-list-item as-flight-page-actions-altitude-button" role="menuitem" tabindex="3">${__('ACTION_TOGGLE_ALTITUDE')}</li>
                        <li class="mdc-list-divider" role="separator"></li>
                        <li class="mdc-list-item as-flight-page-actions-search-button" role="menuitem" tabindex="4">${__('FLIGHT_PAGE_SEARCH_TTIP')}</li>
                        <li class="mdc-list-divider" role="separator"></li>
                        <li class="mdc-list-item as-flight-page-actions-delete-button" role="menuitem" tabindex="5">${__('ACTION_DELETE_FLIGHT')}</li>
                    </ul>
                </div>
                <div class="mdc-menu as-flight-page-menu-views" tabindex="-1">
                    <ul class="mdc-menu__items mdc-list" role="menu" style="transform: scale(1, 1);">
                        <li class="mdc-list-item as-flight-page-actions-view-default-button" role="menuitem" tabindex="0">${__('MAP_VIEW_TYPE_DEFAULT')}</li>
                        <li class="mdc-list-item as-flight-page-actions-view-thumbnail-button" role="menuitem" tabindex="1">${__('MAP_VIEW_TYPE_THUMBNAIL')}</li>
                        <li class="mdc-list-divider" role="separator"></li>
                        <li class="mdc-list-item as-map-page-actions-view-markers-button" role="menuitem" tabindex="0">${__('MAP_VIEW_MARKERS')}</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="as-page-content-container mdc-toolbar-fixed-adjust">
    <div class="as-flight-map-container"></div>

    <div class="as-right-drawer">
    </div>  
</div>
