body{
    overflow: hidden;
    margin: 0px;
    touch-action: none;
}

*[hidden=true]{
    display: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* 
* VENDOR CSS
*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/material.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.mdc-drawer__content a{
    cursor: pointer;
}

.mdc-drawer__drawer .mdc-list-group{
    overflow: auto;
}

.mdc-list-item.disabled{
    color: lightgray;
    cursor: auto;
}

@media (max-width: 599px) {
    .as-page-content-container {
        height: calc(100% - 54px);
    }
}
@media (min-width: 600px) {
    .as-page-content-container {
        height: calc(100% - 64px);
    }
}

/* bug position of before circle */
.mdc-checkbox.mdc-ripple-upgraded:after, .mdc-checkbox.mdc-ripple-upgraded:before {
    display: none;
}

.cesium-viewer{
    touch-action: none;
}

/* 
* THEMING.
*/
:root {
    --mdc-theme-primary: rgb(78, 161, 213);
    --mdc-theme-primary-light: #b37eff;
    --mdc-theme-primary-dark: #8936ff;
    --mdc-theme-secondary: #018786;
    --mdc-theme-secondary-light: #02cecc;
    --mdc-theme-secondary-dark: #004040;
    --mdc-theme-background: #fff;
}

.mdc-fab{
    background-color: #f52828;
}

/* 
* MAIN PAGE COMPONENTS.
*/
.as-page-container{
    z-index: 1;
    overflow: hidden;
}

.as-page-content-container{
    position: absolute;
    width: 100%;
    overflow: hidden;
}

#as-navigation-drawer .mdc-drawer__header-content{
    background-image: url("../assets/imgs/ansel.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
}

#as-snackbar{
    z-index: 10000;
}

#as-snackbar.error{
    background-color: #f52828;
}

.as-empty-container{
    width: 100%;
    height: 100%;
    text-align: center;
    -moz-background-clip: text;
    background-clip: text;
    color: #d2d2d2;
    background-color: #f1f1f1;
    font: 700 10vw Roboto,sans-serif;
}

.as-empty-text{
    top: 50px;
    position: relative;
}

/*
* Fab container
*/
.as-fab-container{
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.as-fab-container .mdc-fab{
    margin-left: 15px;
}

/*
* DRAWER.
*/
.mdc-drawer__drawer .debug-page-item{
    display: none;
}
.debug-mode .mdc-drawer__drawer .debug-page-item{
    display: flex;
}

.as-drawer-header{
    padding-left: 20px;
}

/*
* RIGHT DRAWER.
*/
.as-right-drawer{
    overflow: auto;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -320px;
    width: calc(100% - 64px);
    max-width: 320px;
    display: block;
    background-color: white;
    transition: all 0.3s;
}

.as-right-drawer.active{
    right: 0px;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}

/*
* BOTTOM DRAWER.
*/
.as-bottom-drawer{
    overflow: auto;
    height: 300px;
    max-height: 60%;
    position: absolute;
    bottom: -300px;
    width: 100%;
    display: block;
    background-color: white;
    transition: all 0.3s;
}

.as-bottom-drawer.active{
    bottom: 0px;
    box-shadow: 0 -8px 10px -5px rgba(0,0,0,.2), 0 -16px 24px 2px rgba(0,0,0,.14), 0 -6px 30px 5px rgba(0,0,0,.12);
    border-top: solid 1px lightgray;
}


.as-page-center-container{
    transition: all 0.3s;
    width: 100%;
    position: relative;
}
.as-page-center-container.right-collapsed{
    width:calc(100% - 320px);
}

/*
* CUSTOM SCROLLBAR.
*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #999; 
}

::-webkit-scrollbar-thumb:hover {
    background: #777; 
}

/*
* DIALOGS
*/
#as-dialog .mdc-dialog__surface{
    max-height: 80%;
}

#as-dialog .mdc-dialog__body{
    max-height: calc(100% - 300px);
    overflow: auto;
}

#as-dialog.as-dialog-no-title .mdc-dialog__header{
    height: 0px;
    padding: 0px;
    visibility: hidden;
}

/*
* SPINNER
*/
#as-loading-spinner-container{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

#as-loading-spinner-container .mdc-linear-progress{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    top: calc(50% - 50px);
}

#as-loading-spinner-container .as-loading-spinner-message{
    margin-left: auto;
    margin-right: auto;
    top: calc(50% - 40px);
    text-align: center;
    position: relative;
    color: white;
}

/* 
* SPLASH SCREEN
*/
#as-splash {
    background-image: url("../assets/imgs/topsky.jpg");

    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
    position: absolute;
    z-index: 10000;
    top: 0px;
}

/* 
* MOBILE VIEW
*/
@media (max-width: 499px) {
    .mdc-drawer__drawer {
        width: 100% !important;
        max-width: 100% !important;
    }
    .as-right-drawer{
        width: 100% !important;
        max-width: 100% !important;
        right: -100%;
    }
    .as-page-center-container.right-collapsed{
        width:100%;
    }
}
