<div class="as-map-container">
    <div class="as-map-inner-container"></div>
    
    <div class="as-fab-container">
        <button class="mdc-fab material-icons mdc-ripple-upgraded as-map-layers-button" hidden="true">
            <span class="mdc-fab__icon">layers_clear</span>
        </button>
        <button class="mdc-fab material-icons mdc-ripple-upgraded as-map-drone-zoom-button" hidden="true">
            <span class="mdc-fab__icon">my_location</span>
        </button>
        <button class="mdc-fab material-icons mdc-ripple-upgraded as-map-flight-zoom-button" hidden="true">
            <span class="mdc-fab__icon">map</span>
        </button>
    </div> 
</div>
    