#as-ros-page-container .as-node-container{
    width: 100%;
    height: calc(100% - 48px);
    overflow: auto;
}

.as-ros-create-panel-container .mdc-select{
    width: 100%;
}

.as-ros-create-panel-container .mdc-select .mdc-select__menu{
    top: 0px !important;
    left: 0px !important;
    width: 100%;
}

.as-ros-create-panel-container .as-ros-create-panel-content{
    padding: 15px;
}