<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <div class="material-icons mdc-toolbar__menu-icon as-page-actions-menu-button">menu</div>
            <span class="mdc-toolbar__title catalog-title">${__('PAGE_TITLE_ROS_CONSOLE')}</span>
        </section>

        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
            <div class="node-actions-container">
                <a class="material-icons mdc-toolbar__icon as-ros-page-actions-delete-node-button" title="${__('ROS_PAGE_DELETE_TTIP')}">delete</a>
                <a class="material-icons mdc-toolbar__icon as-ros-page-actions-info-node-button" title="${__('ROS_PAGE_INFO_TTIP')}">info</a>
            </div>
        </section>
    </div>
</div>

<div class="as-page-content-container mdc-toolbar-fixed-adjust">
    <div class="mdc-tab-bar-scroller">
        <div class="mdc-tab-bar-scroller">
            <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back mdc-tab-bar-scroller__indicator--enabled">
                <a class="mdc-tab-bar-scroller__indicator__inner material-icons">
                    navigate_before
                </a>
            </div>
            <div class="mdc-tab-bar-scroller__scroll-frame">
                <nav class="mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mdc-tab-bar-upgraded as-tab-bar-content" style="transform: translateX(-960px);">
                </nav>
            </div>
            <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                <a class="mdc-tab-bar-scroller__indicator__inner material-icons">
                    navigate_next
                </a>
            </div>
        </div>

    </div>

    <div class="as-ros-node-container">

    </div>

    <div class="as-right-drawer">
    </div>

    <div class="as-fab-container">
        <button class="mdc-fab material-icons mdc-ripple-upgraded as-ros-page-actions-add-button">
            <span class="mdc-fab__icon">add</span>
        </button>
    </div> 
</div>