<aside id="as-navigation-drawer" class="mdc-drawer mdc-drawer--temporary mdc-typography map-page-drawer mdc-drawer--open">
    <nav class="mdc-drawer__drawer">
        <header class="mdc-drawer__header">
            <div class="mdc-drawer__header-content mdc-theme--text-primary-on-primary mdc-theme--primary-bg">
                ANSEL - Aerosense
            </div>
        </header>
        <nav class="mdc-list-group">
            <nav class="mdc-drawer__content mdc-list">
                <a class="mdc-list-item as-drawer-actions-drone-button" page="drone">
                    <i class="material-icons mdc-list-item__graphic">flight</i>
                    <b>${__('PAGE_TITLE_DRONE')}</b>
                </a>
                <a class="mdc-list-item as-drawer-actions-cameras-button" page="cameras">
                    <i class="material-icons mdc-list-item__graphic">photo_camera</i>
                    <b>${__('PAGE_TITLE_CAMERAS')}</b>
                </a>
                <a class="mdc-list-item as-drawer-actions-px4-button" page="px4">
                    <i class="material-icons mdc-list-item__graphic">timeline</i>
                    <b>${__('PAGE_TITLE_PX4_LOGS')}</b>
                </a>
                <a class="mdc-list-item as-drawer-actions-parameters-button debug-page-item" page="parameters">
                    <i class="material-icons mdc-list-item__graphic">tune</i>
                    <b>${__('PAGE_TITLE_PARAMETERS')}</b>
                </a>
                <a class="mdc-list-item as-drawer-actions-ros-button debug-page-item" page="ros">
                    <i class="material-icons mdc-list-item__graphic">developer_board</i>
                    <b>${__('PAGE_TITLE_ROS_CONSOLE')}</b>
                </a>
                <a class="mdc-list-item as-drawer-actions-cmd-button debug-page-item" page="command">
                    <i class="material-icons mdc-list-item__graphic">computer</i>
                    <b>${__('PAGE_TITLE_COMMANDS')}</b>
                </a>
                <a class="mdc-list-item as-drawer-actions-settings-button">
                    <i class="material-icons mdc-list-item__graphic">settings</i>
                    <b>${__('PAGE_TITLE_SETTINGS')}</b>
                </a>
                <a class="mdc-list-item as-drawer-actions-about-button">
                    <i class="material-icons mdc-list-item__graphic">help</i>
                    <b>${__('PAGE_TITLE_ABOUT')}</b>
                </a>
            </nav>  
            <div class="mdc-list-divider"></div>  
            <div class="mdc-list-divider"></div>   
            <nav class="mdc-drawer__content mdc-list as-flight-list-container">
            </nav> 
        </nav>
    </nav>
</aside>
