<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <div class="material-icons mdc-toolbar__menu-icon as-page-actions-menu-button">menu</div>
            <span class="mdc-toolbar__title catalog-title">${__('PAGE_TITLE_SETTINGS')}</span>
        </section>

        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
            <a class="material-icons mdc-toolbar__icon as-settings-page-actions-refresh-button" title="${__('REFRESH')}">refresh</a>
        </section>
    </div>
</div>

<div class="as-page-content-container mdc-toolbar-fixed-adjust">
    <div class="mdc-list-group as-settings-panel-container">
        <h3 class="mdc-list-group__subheader">ANSEL</h3>
        <ul class="mdc-list mdc-list--non-interactive mdc-list--two-line">
            <li class="mdc-list-item">
                <div class="mdc-select as-language-setting-field">
                    <select class="mdc-select__native-control">
                        <option>${__('SETTINGS_ANSEL_LANGUAGE_ENGLISH')}</option>
                        <option>${__('SETTINGS_ANSEL_LANGUAGE_JAPANESE')}</option>
                    </select>
                    <label class="mdc-floating-label">${__('SETTINGS_ANSEL_LANGUAGE')}</label>
                    <div class="mdc-line-ripple"></div>
                </div>
            </li>
            <li class="mdc-list-item">           
                <div class="mdc-select as-mode-setting-field" role="listbox">
                    <select class="mdc-select__native-control">
                        <option>2D</option>
                        <option>3D</option>
                    </select>
                    <label class="mdc-floating-label">${__('SETTINGS_ANSEL_MODE')}</label>
                    <div class="mdc-line-ripple"></div>
                </div>
            </li>
        </ul>

        <h3 class="mdc-list-group__subheader">${__('SETTINGS_AEROBO_TITLE')}</h3>
        <ul class="mdc-list mdc-list--non-interactive mdc-list--two-line">
            <li class="mdc-list-item">
                <span class="as-setting-field-label">
                    ${__('SETTINGS_AEROBO_EMAIL')}
                </span>
                <span class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--upgraded as-aerobo-email-setting-field">
                    <input class="mdc-text-field__input" type="text" placeholder="${__('SETTINGS_AEROBO_EMAIL')}">
                    <div class="mdc-line-ripple" style="transform-origin: 258px center"></div>
                </span>
            </li>
            <li class="mdc-list-item">
                <span class="as-setting-field-label">
                    ${__('PASSWORD')}
                </span>                    
                <span class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--upgraded as-aerobo-password-setting-field">
                    <input class="mdc-text-field__input" type="password" placeholder="${__('PASSWORD')}">
                    <div class="mdc-line-ripple" style="transform-origin: 258px center"></div>
                </span>
            </li>
            <li class="mdc-list-item action-list-item">
                <button class="mdc-button mdc-button--raised mdc-ripple-upgraded as-settings-page-actions-apply-aerobo-button">
                    ${__('CONNECT')}
                </button>
            </li>
        </ul>

        <h3 class="mdc-list-group__subheader">${__('SETTINGS_WIFI_TITLE')}</h3>
        <ul class="mdc-list mdc-list--non-interactive mdc-list--two-line">
            <li class="mdc-list-item">
                <span class="as-setting-field-label">
                    SSID
                </span>
                <span class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--upgraded as-wifi-ssid-setting-field">
                    <input class="mdc-text-field__input" type="text" placeholder="SSID">
                    <div class="mdc-line-ripple" style="transform-origin: 258px center"></div>
                </span>
            </li>
            <li class="mdc-list-item">
                <span class="as-setting-field-label">
                    ${__('PASSWORD')}
                </span>                    
                <span class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--upgraded as-wifi-wpa-passphrase-setting-field">
                    <input class="mdc-text-field__input" type="text" placeholder="${__('PASSWORD')}">
                    <div class="mdc-line-ripple" style="transform-origin: 258px center"></div>
                    <div class="as-error-message">${__('SETTINGS_WIFI_PASSPHRASE_ERROR')}</div>
                </span>
            </li>
            <li class="mdc-list-item action-list-item">
                <button class="mdc-button mdc-button--raised mdc-ripple-upgraded as-settings-page-actions-apply-wifi-button">
                    ${__('APPLY')}
                </button>
            </li>
        </ul>
    </div>
</div>