#as-settings-page-container .as-settings-panel-container{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    overflow: auto;
}

#as-settings-page-container .mdc-text-field.invalid{
    border-bottom: 1px solid red;
}

#as-settings-page-container .mdc-text-field .as-error-message{
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    font-size: 0.7em;
    color: red;
}

#as-settings-page-container .mdc-text-field.invalid .as-error-message{
    visibility: visible;
}

#as-settings-page-container .as-setting-field-label{
    width: 20%;
    min-width: 100px;
}

#as-settings-page-container .as-settings-actions-container{
    position: absolute;
    bottom: 25px;
    right: 25px;
}

#as-settings-page-container .action-list-item{
    direction: rtl
}

#as-settings-page-container .as-settings-panel-container .mdc-select{
    padding: 0px;
    width: 100%;
}
#as-settings-page-container .as-settings-panel-container .mdc-select__selected-text{
    bottom: 16px;
}
