
<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <div class="material-icons mdc-toolbar__menu-icon as-page-actions-menu-button">menu</div>
            <span class="mdc-toolbar__title catalog-title">${__('PAGE_TITLE_PARAMETERS')}</span>
        </section>
    </div>
</div>

<div class="as-page-content-container mdc-toolbar-fixed-adjust"> 
    <div class="mdc-list-group as-parameters-panel-container">
        <div class="as-param-container">
        </div>
    </div>
    <div class="as-fab-container">

        <button class="mdc-fab material-icons mdc-ripple-upgraded as-parameters-page-actions-save-button">
            <span class="mdc-fab__icon">save_alt</span>
        </button>
        <button class="mdc-fab material-icons mdc-ripple-upgraded as-parameters-page-actions-refresh-button">
            <span class="mdc-fab__icon">refresh</span>
        </button>

        <button class="mdc-fab material-icons mdc-ripple-upgraded as-parameters-page-actions-palette-button">
            <span class="mdc-fab__icon">insert_drive_file</span>
        </button>

        <div class="mdc-menu-anchor">
            <div class="mdc-menu as-parameters-page-menu-file" tabindex="-1">
                <ul class="mdc-menu__items mdc-list" role="menu" style="transform: scale(1, 1);">
                    <li class="mdc-list-item as-parameters-page-actions-file-save-button" role="menuitem" tabindex="0">${__('PARAMETER_SAVE_FILE')}</li>
                    <li class="mdc-list-item as-parameters-page-actions-file-load-button" role="menuitem" tabindex="1">${__('PARAMETER_LOAD_FILE')}</li>
                </ul>
            </div>
        </div>
    </div> 
</div>

