
#as-parameters-page-container{
    height: calc(100% - 60px);
}

#as-parameters-page-container .as-parameters-panel-container{
    width: 100%;
    height: 100%;
    overflow: auto;
}

#as-parameters-page-container .as-parameters-panel-container .as-param-container{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#as-parameters-page-container .as-parameters-panel-container .as-param-container table{
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#as-parameters-page-container .as-parameters-panel-container .as-param-container .as-param-group-header{
    transition: all 0.5s;
}
#as-parameters-page-container .as-parameters-panel-container .as-param-container .as-param-group-header:hover{
    background-color: lightgray;
    cursor: pointer;
}

#as-parameters-page-container .as-parameters-panel-container .as-param-container .dirty{
    background-color: #ffffa4;
}

#as-parameters-page-container .as-parameters-panel-container .as-param-container .as-param-name-cell {
    text-align: left;
    width: 40%;
}

#as-parameters-page-container .as-parameters-panel-container .as-param-container .as-param-group-expanded .as-param-group-expand-icon{
    display: none;
}
#as-parameters-page-container .as-parameters-panel-container .as-param-container .as-param-group-collapsed .as-param-group-collapse-icon{
    display: none;
}
#as-parameters-page-container .as-parameters-panel-container .as-param-container .as-param-group-collapsed .as-param-group-row{
    display: none;
}

#as-parameters-page-container .as-parameters-panel-container .as-param-container .as-param-value-cell .mdc-text-field {
    height: 35px;
}